<header class="header-section">
    <div class="container">
        <app-logo logoType="colored"></app-logo>
        <nav class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__list__item">
                    <a 
                        href="#services" 
                        (click)="hideMainMenu()" 
                        class="link link-dark link-pt16"
                    >
                        Unsere Dienstleistung
                    </a>
                </li>
                <li class="main-menu__list__item">
                    <a 
                        href="#" 
                        (click)="hideMainMenu()" 
                        class="link link-dark link-pt16"
                    >
                        Warum Mandaro
                    </a>
                </li>
            </ul>
            <button 
                class="btn btn-primary btn-communicate btn-pt20"
                (click)="navigateAndScroll()"
            >
                Jetzt kontaktieren
                <span></span>
            </button>
        </nav>
        <button 
            class="btn btn-primary btn-communicate btn-communicate-small btn-pt20"
            (click)="navigateAndScroll()"
        >
            Jetzt kontaktieren
            <span></span>
        </button>
        <div 
            class="burger-btn"
            (click)="showMainMenu()"
        >
            <span></span>
        </div>
    </div>
</header>