<section class="partners-section">
    <div class="container">
        <div class="content-wrapper">
            <h2 class="h2-48pt">Unsere Partner kommen aus vielen Branchen:</h2>
            <div class="partners-list">
                <div class="partners-list__item">Bauwesen</div>
                <div class="partners-list__item">Logistik</div>
                <div class="partners-list__item">Soziale Medien</div>
                <div class="partners-list__item">Medizin &amp; Gesundheit</div>
                <div class="partners-list__item">Elektronischer Geschäftsverkehr</div>
                <div class="partners-list__item">IT-Entwicklung</div>
                <div class="partners-list__item">Regierung &amp; öffentliche Verwaltung</div>
                <div class="partners-list__item">Landwirtschaft</div>
            </div>
        </div>
    </div>
</section>