<section class="data-policy-section">
    <div class="container">
        <h1 class="h1-55pt">Datenschützerklärung</h1>
        <div class="content-wrapper">
            <h2 class="h2-48pt">1. Datenschutz auf einen Blick</h2>
            <h3 class="h3-32pt">Allgemeine Hinweise</h3>
            <div class="paragraph-wrapper">
                <p class="text text-pt16">
                    Die folgenden Hinweise geben einen einfachen Überblick darüber, 
                    was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. 
                    Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. 
                    Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text 
                    aufgeführten Datenschutzerklärung.
                </p>
            </div>
            <p class="text-bold text-bold-pt18">Informationspflicht gem. § 36 VSBG</p>
            <div class="paragraph-wrapper">
                <p class="text text-pt16">
                    Die mandaro digital ist weder verpflichtet noch bereit, an einem Streitbeilegungsverfahren gem.
                    Verbraucherstreitbeilegungsgesetz teilzunehmen.
                </p>
                <p class="text text-pt16">
                    Im Streitfall ist die mandaro digital weder verpflichtet noch bereit, 
                    an einem Streitbeilegungsverfahren gem. VSBG vor der Allgemeinen Verbraucherschlichtungsstelle 
                    des Zentrums für Schlichtung e.V. teilzunehmen.
                </p>
            </div>
            <h2 class="h2-48pt">2. Allgemeine Hinweise und Pflichtinformationen Datenschutz</h2>
            <p class="text-bold text-bold-pt18">Haftung für Inhalte</p>
            <div class="paragraph-wrapper">
                <p class="text text-pt16">
                    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten 
                    nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
                    jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
                    oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                </p>
                <p class="text text-pt16">
                    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen 
                    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt 
                    der Kenntnis einer konkreten Rechtsverletzung möglich. 
                    Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                </p>
            </div>
            <p class="text-bold text-bold-pt18">Haftung für Links</p>
            <div class="paragraph-wrapper">
                <p class="text text-pt16">
                    Telefon:
                    <a 
                        href="tel:0303251330"
                        class="link link-dark link-pt16"
                        target="_blank"
                    >
                        030 32 51 33 0
                    </a>
                </p>
                <p class="text text-pt16">
                    E-Mail:
                    <a 
                        href="mailto:service@mandaro-digital.de"
                        class="link link-orange link-pt16"
                        target="_blank"
                    >
                        service&#64;mandaro-digital.de
                    </a>
                </p>
                <p class="text text-pt16">
                    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte 
                    einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige 
                    Links umgehend entfernen.
                </p>
            </div>
            <p class="text-bold text-bold-pt18">Urheberrecht</p>
            <p class="text text-pt16">
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen 
                dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der 
                Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen 
                Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur 
                für den privaten, nicht kommerziellen Gebrauch gestattet.
            </p>
            <p class="text text-pt16">
                Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die 
                Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. 
                Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, 
                bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir 
                derartige Inhalte umgehend entfernen.
            </p>
            <ul class="list text text-pt16">
                <li class="list__item text text-pt16">Browsertyp und Browserversion</li>
                <li class="list__item">verwendetes Betriebssystem</li>
                <li class="list__item">Referrer URL</li>
                <li class="list__item">Hostname des zugreifenden Rechners</li>
                <li class="list__item">Uhrzeit der Serveranfrage</li>
                <li class="list__item">IP-Adresse</li>
            </ul>
            <h2 class="h2-48pt">3. Datenerfassung auf unserer Website</h2>
            <p class="text-bold text-bold-pt18">Cookies</p>
            <p class="text text-pt16">
                Die Internetseiten verwenden teilweise so genannte Cookies. 
                Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. 
                Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. 
                Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
            </p>
            <p class="text text-pt16">
                Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. 
                Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät 
                gespeichert bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten
                Besuch wiederzuerkennen.
            </p>
        </div>
    </div>
</section>