<section class="imprint-section">
    <div class="container">
        <h1 class="h1-55pt">Impressum</h1>
        <div class="info-wrapper">
            <ul class="list">
                <li class="list__item">
                    <p class="text text-pt16">mandaro digital</p>
                    <p class="text text-pt16">ist eine Marke der</p>
                    <p class="text text-pt16">
                        mandaro GmbH<br>
                        Karam Samhat<br>
                        Eiswerderstr. 18<br>
                        13585, Berlin<br>
                        Deutschland
                    </p>
                    <p class="text text-pt16">
                        Telefon: 030 32 51 33 – 0<br>
                        Telefax: 030 32 51 33 – 10
                    </p>
                    <p>
                        <a 
                            href="mailto:service@mandaro-digital.de"
                            class="link link-orange link-pt16"
                            target="_blank"
                        >
                            service&#64;mandaro-digital.de
                        </a>
                    </p>
                    <p class="text text-pt16">
                        Registergericht: AG Berlin-Charlottenburg<br>
                        Registernummer: HRB 97337 B<br>
                        USt-ID: DE 814419525
                    </p>
                </li>
                <li class="list__item">
                    <p class="text-bold text-bold-pt18">Online-Streitbeilegung</p>
                    <p class="text text-pt16">
                        Die Europäische Kommission stellt eine Plattform für die außergerichtliche 
                        Online-Streitbeilegung (OS-Plattform) bereit, die unter www.ec.europa.eu/consumers/odr aufrufbar ist. 
                        Unsere E-Mail-Adresse finden Sie in unserem Impressum. Wir sind weder verpflichtet noch bereit, 
                        an dem Streitschlichtungsverfahren teilzunehmen.
                    </p>
                </li>
                <li class="list__item">
                    <p class="text-bold text-bold-pt18">Informationspflicht gem. § 36 VSBG</p>
                    <p class="text text-pt16">
                        Die mandaro digital ist weder verpflichtet noch bereit, an einem Streitbeilegungsverfahren gem.
                        Verbraucherstreitbeilegungsgesetz teilzunehmen.
                    </p>
                    <p class="text text-pt16">
                        Im Streitfall ist die mandaro digital weder verpflichtet noch bereit, 
                        an einem Streitbeilegungsverfahren gem. VSBG vor der Allgemeinen Verbraucherschlichtungsstelle 
                        des Zentrums für Schlichtung e.V. teilzunehmen.
                    </p>
                </li>
                <li class="list__item">
                    <p class="text-bold text-bold-pt18">Haftung für Inhalte</p>
                    <p class="text text-pt16">
                        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den 
                        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht 
                        verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach 
                        Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                    </p>
                    <p class="text text-pt16">
                        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen 
                        Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt 
                        der Kenntnis einer konkreten Rechtsverletzung möglich. 
                        Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                    </p>
                </li>
                <li class="list__item">
                    <p class="text-bold text-bold-pt18">Haftung für Links</p>
                    <p class="text text-pt16">
                        Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. 
                        Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. 
                        Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber 
                        der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche 
                        Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
                    </p>
                    <p class="text text-pt16">
                        Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte 
                        einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige 
                        Links umgehend entfernen.
                    </p>
                </li>
                <li class="list__item">
                    <p class="text-bold text-bold-pt18">Urheberrecht</p>
                    <p class="text text-pt16">
                        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen 
                        dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der 
                        Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des 
                        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, 
                        nicht kommerziellen Gebrauch gestattet.
                    </p>
                    <p class="text text-pt16">
                        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, 
                        werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter 
                        als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, 
                        bitten wir um einen entsprechenden Hinweis. 
                        Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>