@use "../../../assets/styles/vars" as *;
@use "../../../assets/styles/mixins" as *;

.imprint-section {
    width: 100%;
    padding: 140px 0 80px;
    @include medium-screen {
        padding: 40px 0 80px;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @include medium-screen {
            padding: 0;
            gap: 30px; 
            .h1-55pt {
                padding: 0 15px;
            }
        }
        .info-wrapper {
            background-color: $neutral-3;
            border-radius: 24px;
            padding: 60px;
            @include medium-screen {
                border-radius: 16px;
                padding: 40px 15px;
            }
            .list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                &__item {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    p[class="text-bold text-bold-pt18"] {
                        color: $neutral-7;
                    }
                    &:first-child {
                        p:nth-child(1) {
                            color: $accent-8;
                        }
                    }
                    @include medium-screen {
                        .link-pt16 {
                            font-size: 14px;
                        }
                    }
                }
            }    
        }
    }
}