<section class="about-us-section">
    <div class="container">
        <div class="col-wrapper">
            <h2 class="h2-48pt">Über uns</h2>
            <div class="description">
                <p>
                    mandaro Digital Mit über 20 Jahren Erfahrung sind wir darauf spezialisiert, 
                    herausragende Auftritte für unsere Kunden zu gestalten. Unser Fokus lag und 
                    liegt stets darauf, Ihnen den bestmöglichen Webauftritt zu bieten.
                </p>
                <p>
                    Gleichzeitig ist es uns wichtig, mit dem Puls der Zeit zu gehen. 
                    In den letzten 15 Jahren hat sich neben unserer Expertise im Druckwesen 
                    eine umfassende Expertengruppe im Marketing formiert, 
                    um uns optimal zu positionieren.
                </p>
            </div>
            <button 
                type="button"
                class="btn btn-primary btn-communicate btn-pt20"
                onclick="window.location.href='#contact-form'"
            >
                Jetzt kontaktieren
                <span></span>
            </button>
        </div>
        <div class="col-wrapper">
            <div class="image-wrapper">
                <img 
                    src="/assets/images/about-us-section_719x660.svg" 
                    width="719"
                    height="660"
                    alt="mandaro digital"
                >
            </div>
        </div>
    </div>
</section>