<div 
    class="field-wrapper"
    [ngClass]="{'error': inputModel.dirty && inputModel.invalid && inputFocused}"
>
    <input 
        [placeholder]="placeholder"
        [type]="type"
        [(ngModel)]="value"
        (input)="handleInput($event)"
        (blur)="onTouched(); inputFocused = false"
        (focus)="inputFocused = true"
        #inputModel="ngModel"
        required
        minlength="1"
        maxlength="100"
    >
    <span 
        class="error-message" 
        *ngIf="inputModel.dirty && inputModel.errors && inputFocused"
    >
        <ng-container *ngIf="inputModel.errors['required']">
            This field is required
        </ng-container>
    </span>
</div>