<section class="services-section" id="services">
    <div class="container">
        <h2 class="h2-48pt">Unsere Dienstleistungen</h2>
        <p class="description">
            Wir helfen Ihnen, Ihr Geschäft mit innovativen 
            Lösungen auf die nächste Stufe zu heben.
        </p>
        <div class="services-wrapper">
            <app-service-card
                title="Klassisches Marketing"
                [options]="[
                    'Öffentlichkeitsarbeit',
                    'Unternehmensprofil Optimierungen',
                    'Pressearbeit, Textarbeiten, Konzeption & Strategie',
                    'PR-Consulting',
                    'Strategischer Aufbau der Kommunikation für kurz-, mittel- & langfristige Ziele'
                ]"
                iconSrc="/assets/images/icons/services-page/classic-marketing_80x80.svg"
                iconAlt="classic marketing"
            >
            </app-service-card>
            <app-service-card
                title="Online Marketing"
                [options]="[
                    'SEO',
                    'Optimierung des Pagespeed',
                    'Tracking & Datenanalyse',
                    'Analyse der Zugänglichkeit',
                    'Google Ads & Conversionsrate Optimierung',
                    'Soziale Medien'
                ]"
                iconSrc="/assets/images/icons/services-page/online-marketing_80x80.svg"
                iconAlt="online marketing"
            >
            </app-service-card>
            <app-service-card
                title="Gestaltung"
                [options]="[
                    'Markenbildung, Corporate Identity',
                    'Grafische Gestaltung',
                    'Design-Überprüfung',
                    'UI/UX-Gestaltung'
                ]"
                iconSrc="/assets/images/icons/services-page/design_80x80.svg"
                iconAlt="design"
            >
            </app-service-card>
            <app-service-card
                title="Entwicklung"
                [options]="[
                    'Web-Entwicklung',
                    'App-Entwicklung',
                    'IT Sicherheitsberatung & Securityaudit',
                    'IT Teamabstellung',
                    'Cloudcomputing und DevOps',
                    'Outstaffing & Nearshoring',
                    'Outsourcing/ Personalbeschaffung'
                ]"
                iconSrc="/assets/images/icons/services-page/development_80x80.svg"
                iconAlt="development"
            >
            </app-service-card>
        </div>
    </div>
</section>