<section class="not-found-section">
    <div class="container">
        <div class="content-wrapper">
            <h1 class="h1-55pt">404</h1>
            <button 
                routerLink="" 
                onclick="window.location.href='#main'" 
                class="btn btn-primary btn-communicate btn-pt20"
            >
                Zurück zur Hauptseite
            </button>
        </div>
        <div class="image-wrapper">
            <img src="/assets/images/main-section_582x660.svg" alt="Mandaro Logo">
        </div>
    </div>
</section>
