// Colors
$neutral-1: #FFFFFF;
$neutral-2: #F9F9FA;
$neutral-3: #F4F4F6;
$neutral-4: #C8C8D3;
$neutral-5: #7F8393;
$neutral-6: #4A4A49;
$neutral-7: #010202;
$accent-8: #AE0F0A;
$accent-9: #FF8D19;
$accent-10: #EE8317;
$accent-11: #F57B00;