<section class="why-mandaro-section" id="why-mandaro">
    <div class="container">
        <div class="col-wrapper">
            <h2 class="h2-48pt">Warum mandaro Digital?</h2>
            <p>
                Die
                <a 
                    href="https://www.mandaro.de/" 
                    class="link link-orange"
                    target="_blank"
                >
                    Mandaro GmbH
                </a>
                mit Sitz auf der Insel Eiswerder in Berlin ist eines der größten 
                Drucknetzwerke Deutschlands. Seit 2005 erweitern wir stetig unser 
                Lohndruckereiportfolio und unsere Produktpalette. Mit Mandaro Digital, 
                unserem spezialisierten Ableger, richten wir uns gezielt an mittelständische 
                Unternehmen und unterstützen unsere Kunden mit umfassenden digitalen Lösungen.
            </p>
            <button 
                type="button"
                class="btn btn-primary btn-communicate btn-pt20"
                onclick="window.location.href='#contact-form'"
            >
                Jetzt kontaktieren
                <span></span>
            </button>
        </div>
        <div class="col-wrapper">
            <app-reason-card
                iconSrc="/assets/images/icons/why-mandaro-section/expertise_120x120.svg"
                iconAlt="expertise"
                title="Expertise"
                description="20 Jahre erfolgreich auf dem Werbemarkt."
            >
            </app-reason-card>
            <app-reason-card
                iconSrc="/assets/images/icons/why-mandaro-section/responsibility_120x120.svg"
                iconAlt="responsibility"
                title="Verantwortung"
                description="Wir stehen für Qualität, 
                Zuverlässigkeit und nachhaltiges Engagement in jedem Projekt."
            >
            </app-reason-card>
            <app-reason-card
                iconSrc="/assets/images/icons/why-mandaro-section/monitoring_120x120.svg"
                iconAlt="monitoring"
                title="Monitoring/Reporting"
                description="Unser Monitoring- und Reporting-Service bietet volle Transparenz, 
                schnelle Fehlererkennung und Optimierung."
            >
            </app-reason-card>
            <app-reason-card
                iconSrc="/assets/images/icons/why-mandaro-section/creativity_120x120.svg"
                iconAlt="creativity"
                title="Kreativität"
                description="Kreative und moderne Impulse aus einer 
                Hand für Ihre Online und Offlinekampagnen."
            >
            </app-reason-card>
        </div>
    </div>
</section>